/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

// Custom card css
@use 'vuetify/settings' with (
  $card-border-radius: 7px,
  $card-subtitle-opacity: 0.8,
  $card-border-width: 0px,
  $card-border-color: #dcdfe6,
  $card-actions-padding: 0 1rem,
  $card-padding: 0 0 0.5rem 0,
);