/** 
* Global CSS here
* Tham khảo color patetter phổ biến tại đây: https://colorhunt.co/palettes/popular
*/

// Base theme colors here
$color-primary: #1F8A70;
$color-secondary: #00425A;
$color-warning: #FC7300;
$color-error: #820000;
$color-white: #FFFFFF;
$box-shadow: 0 2px 10px 0 rgba(62, 61, 61, 0.3);

// css modules
$nav-menu-section-title: #000000ad;
$bg-gradient-primary: linear-gradient(98deg, $color-primary, $color-secondary 94%);

// Import other css module
@import 'custom-table';
@import 'custom-card';
@import 'threedots-loading';

.centered-screen {
  position: absolute;
  /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

html {
  overflow-y: auto !important;
}

button:focus-visible {
  outline: 0px dotted ButtonText !important;
}

.v-card--variant-elevated {
  box-shadow: $box-shadow !important;
}

.v-card {
  overflow: inherit !important;
}

.v-dialog {
  align-: normal !important;
  margin-top: 2% !important;
}

.v-dialog .v-overlay__content {
  flex-direction: inherit !important;
}

.justify-right {
  justify-content: right !important;
}

.v-btn .v-icon {
  --v-icon-size-multiplier: 0.79 !important;
}

.v-toolbar__content {
  height: 48px !important;
}

.v-input--density-default .v-field--variant-outlined,
.v-input--density-default .v-field--single-line,
.v-input--density-default .v-field--no-label {
  --v-field-padding-bottom: 10px !important;
}

.v-switch {
  --v-input-control-height: 0px !important;
  // --v-input-padding-top: 10px !important;
}

.thumbnail {
  border: 1px dotted; // rgb(247, 244, 233);
  //margin-left: 40px !important;
  border-radius: 7px;

  .v-img {
    height: 140px;
  }
}